/* animationの生成順序1 */
@keyframes Sakana{
}
/* blockの生成順序1 */
.dango>.mikan{
   position:absolute;
   animation: Sakana backwards 5s infinite ease 20s normal;
   height : 50px;
   width : 100px;
   background-color : #aa00bb;
}
/* animationの生成順序2 */
@keyframes tokushima{
   100% {
      top:100px;
   }
   0% {
      top:0px;
   }
   100% {
      left:100px;
   }
   0% {
      left:0px;
   }
}
/* blockの生成順序2 */
.dango>.ringo{
   position:absolute;
   animation: tokushima backwards 5s infinite ease 0s normal;
   height : 100px;
   width : 100px;
   background-color : #ffffbb;
}
.dango{
}